<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Syncfusion.Compression.Base" version="*"  />
  <package id="Syncfusion.Licensing" version="*" />
  <package id="Syncfusion.Pdf.Wpf" version="*" />
  <package id="Syncfusion.PdfToImageConverter.WPF" version="*" />
  <package id="Syncfusion.PdfViewer.WPF" version="*" />
  <package id="Syncfusion.Shared.WPF" version="*" />
</packages>