<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Syncfusion.Compression.Base" version="100.2.38" targetFramework="net47" />
  <package id="Syncfusion.Licensing" version="25.1.39" targetFramework="net47" />
  <package id="Syncfusion.Pdf.Wpf" version="25.1.39" targetFramework="net47" />
  <package id="Syncfusion.PdfToImageConverter.WPF" version="25.1.39" targetFramework="net47" />
  <package id="Syncfusion.PdfViewer.WPF" version="25.1.39" targetFramework="net47" />
  <package id="Syncfusion.SfSkinManager.WPF" version="25.1.39" targetFramework="net47" />
  <package id="Syncfusion.Shared.WPF" version="25.1.39" targetFramework="net47" />
  <package id="Syncfusion.Themes.FluentLight.WPF" version="25.1.39" targetFramework="net47" />
</packages>