<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Syncfusion.Compression.Base" version="21.1.0.35" targetFramework="net472" />
  <package id="Syncfusion.Licensing" version="21.1.0.35" targetFramework="net472" />
  <package id="Syncfusion.Pdf.Wpf" version="21.1.0.35" targetFramework="net472" />
  <package id="Syncfusion.PdfViewer.WPF" version="21.1.0.35" targetFramework="net472" />
  <package id="Syncfusion.Shared.WPF" version="21.1.0.35" targetFramework="net472" />
</packages>