<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Syncfusion.Compression.Base" version="19.4.1.1" targetFramework="net472" />
  <package id="Syncfusion.Licensing" version="19.4.0.48" targetFramework="net472" />
  <package id="Syncfusion.Pdf.Wpf" version="19.4.0.48" targetFramework="net472" />
  <package id="Syncfusion.PdfViewer.WPF" version="19.4.0.48" targetFramework="net472" />
  <package id="Syncfusion.Shared.WPF" version="19.4.0.48" targetFramework="net472" />
</packages>