<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Syncfusion.Compression.Base" version="*" targetFramework="net47" />
  <package id="Syncfusion.Licensing" version="*" targetFramework="net47" />
  <package id="Syncfusion.Pdf.Wpf" version="*" targetFramework="net47" />
  <package id="Syncfusion.PdfToImageConverter.WPF" version="*" targetFramework="net47" />
  <package id="Syncfusion.PdfViewer.WPF" version="*" targetFramework="net47" />
  <package id="Syncfusion.Shared.WPF" version="*" targetFramework="net47" />
</packages>
